.row
  .col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
    %h2.text-center.login-headline Book edit
    .panel.panel-default
      .panel-body
        = form_for(@book, as: :book, url: new_book_path) do |f|

          .form-group
            = f.label :title
            %br/
            = f.text_field :title, class: 'form-control'

          .form-group
            = f.label :author
            %br/
            = f.text_field :author, class: 'form-control'

          .form-group
            = f.label :year_of_release
            %br/
            = f.datetime_field :year_of_release, class: 'form-control'

          .form-group
            = f.label :description
            %br/
            = f.text_area :description, class: 'form-control'

          .form-group
            = f.label :number_of_pages
            %br/
            = f.number_field :number_of_pages, class: 'form-control'

          .form-group
            = f.label :original_language
            %br/
            = f.text_field :original_language, class: 'form-control'

          .form-group
            = f.label :translated_into
            %br/
            = f.text_field :translated_into, class: 'form-control'

          .actions.pull-right
            = f.submit "Update", class: 'btn btn-default'


translated_into
