.container
  .row.table-margin
    .col-sm-4.offset-sm-4
      %h2.text-center.login-headline Book edit
      .panel.panel-default
        .panel-body
          = form_for(@book, as: :book, url: edit_book_path(@book)) do |f|
            .form-group.div-margin-botton
              = f.label :title
              = f.text_field :title, class: 'form-control'
              - if @book.errors.any?
                #error_explanation{role: "alert"}
                  %div.error-text
                    = @book.errors[:title].first

            .form-group.div-margin-botton
              = f.label :author
              = f.collection_select(:author_id, Author.all, :id, :full_name, { prompt: true }, { class: 'form-control' })
              - if @book.errors.any?
                #error_explanation{role: "alert"}
                  %div.error-text
                    = @book.errors[:author].first


            .form-group.div-margin-botton
              = f.label :publisher
              = f.collection_select(:publisher_id, Publisher.all, :id, :name, { prompt: true }, { class: 'form-control' })
              - if @book.errors.any?
                #error_explanation{role: "alert"}
                  %div.error-text
                    = @book.errors[:publisher].first

            .form-group.div-margin-botton
              = f.label :genre
              = f.collection_select(:genre_id, Genre.all, :id, :name, { prompt: true }, { class: 'form-control' })
              - if @book.errors.any?
                #error_explanation{role: "alert"}
                  %div.error-text
                    = @book.errors[:genre].first

            .form-group.div-margin-botton
              = f.label :year_of_release
              = f.date_field :year_of_release, class: 'form-control'
              - if @book.errors.any?
                #error_explanation{role: "alert"}
                  %div.error-text
                    = @book.errors[:year_of_release].first

            .form-group.div-margin-botton
              = f.label :number_of_pages
              = f.number_field :number_of_pages, class: 'form-control'
              - if @book.errors.any?
                #error_explanation{role: "alert"}
                  %div.error-text
                    = @book.errors[:number_of_pages].first

            .form-group.div-margin-botton
              = f.label :original_language
              = f.text_field :original_language, class: 'form-control'
              - if @book.errors.any?
                #error_explanation{role: "alert"}
                  %div.error-text
                    = @book.errors[:original_language].first

            .form-group.div-margin-botton
              = f.label :translated_into
              = f.text_field :translated_into, class: 'form-control'
              - if @book.errors.any?
                #error_explanation{role: "alert"}
                  %div.error-text
                    = @book.errors[:translated_into].first

            .form-group.div-margin-botton
              = f.label :description
              = f.text_area :description, class: 'form-control'
              - if @book.errors.any?
                #error_explanation{role: "alert"}
                  %div.error-text
                    = @book.errors[:description].first

            .actions.pull-right
              = f.submit "Update", class: 'btn btn-default'
