.row.table-margin
  .col-sm-10.offset-sm-1
    .container
      .second-main-div
        .the-smallest-div2
          =image_tag("przykładowa_książka.jpg", width: "160", alt: "Edit Entry")
        .big-div
          %h1= @book.title

          %div
            %i.text-size-20 Rating:
            - if Rating.average_of_votes(@book.id, 'book') == nil
              %span.star ☆
            - else
              %strong
                %i.text-size-20 #{ Rating.average_of_votes(@book.id, 'book') }

            = form_for(@rating, as: :rating, url:  book_ratings_path(@book.id))do |f|
              .rating
                - [*1..5].reverse.each do |i|
                  %span.span-size{ data: { vote: "#{i * 1}"} } ☆
              #vote
                %span.live-rating
              .rating-hidden-fieds
                = hidden_field(:rating, :vote)
                = hidden_field(:rating, :book_id)
                = f.submit "Rate", class: "btn btn-outline-success my-2 my-sm-0", id: "submit_rating"

          .book-description-container
            = @book.description

          .main-div
            .small-div
              %span Author:
              %a= link_to @book.author.full_name, author_path(@book.author.id)

          .main-div
            .small-div
              %span Genre:
              %a= link_to @book.genre.name, books_genre_path(@book.genre)

          .main-div
            .small-div
              %span Publisher:
              %a= link_to @book.publisher.name, publisher_path(@book.publisher.id)

          .main-div
            .small-div
              %span Release date:
              %a= @book.year_of_release.strftime("%_m %b %Y")

          .main-div
            .small-div
              %span Number of pages:
              %a= @book.number_of_pages

          .main-div
            .small-div
              %span Original language:
              %a= @book.original_language

          .main-div
            .small-div
              %span Translated into:
              %a= @book.translated_into

          - if user_signed_in?
            - unless @comments.any?{|comment| comment.user_id == current_user.id }
              = form_for(@comment, url: book_comments_path(@book.id)) do |form|
                .container-size
                  = image_tag("users.png", alt: "Edit Entry", class: 'person-image')
                  = form.text_area(:description, class: 'comment-container')
                  = form.hidden_field(:book_id)
                  = form.submit(class: 'create-button')

          - if @comments.any?
            .margin-over-comments
              - @comments.each do |comment|
                .added-comment-container
                  = image_tag("users.png", alt: "Edit Entry", class: 'small-persone-image')
                  .each-comment-container
                    %h5= comment.user&.name
                    %a= comment.description
                  - if user_signed_in? && current_user.id == comment.user_id
                    = link_to 'Delete comment', book_comment_path(@book.id, comment.id),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-to-delete'
